{% extends "base-official.html" %}
{% block title %}New User{% endblock %}

{% block head %}
<script src="/static/js/jquery-1.12.3.min.js"></script>
<script src="/static/js/parsley.min.js"></script>
{% endblock %}

{% block content %}
<p>This page is for logging in to an existing account. To create a new account go to <a href="/forms/newuser">/forms/newuser</a>.</p>

<h1>Log In</h1>

<ul>
	<li><a href="https://api.abstractplay.com/auth/facebook">Facebook</a></li>
	<li><a href="https://api.abstractplay.com/auth/google">Google</a></li>
</ul>

<form method="post" action="/auth" id="form">
	<p>
		<label for="username">Username or email address</label><br>
		<input type="text" id="username" name="username" required data-parsley-whitespace="squish">
	</p>

	<p>
		<label for="password">Enter your password</label><br>
		<input type="password" id="password" name="password" required>
	</p>

	<p>
		<input type="submit">
	</p>
</form>

<script type="text/javascript">
  $('#form').parsley();
</script>
{% endblock %}

